# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

Backend/COVID19.CE/.vs/COVID19.CE/v16/Server/sqlite3/

Backend/COVID19.CE/src/COVID.Application/obj/Debug/netstandard2.0/

Backend/COVID19.CE/src/COVID.Application/obj/

*.cache

Backend/COVID19.CE/src/COVID.Domain/obj/

Backend/COVID19.CE/src/COVID.Infra.CrossCutting/obj/

Backend/COVID19.CE/src/COVID.Infra.Data/obj/

Backend/COVID19.CE/src/COVID.Service.Api/obj/

Backend/COVID19.CE/src/COVID.Service.AlternativeApi/obj/

Backend/COVID19.CE/.vs/COVID19.CE/v16/

Backend/COVID19.CE/src/COVID.Application/bin/Debug/netstandard2.0/

Backend/COVID19.CE/src/COVID.Domain/bin/Debug/netstandard2.0/

Backend/COVID19.CE/src/COVID.Infra.CrossCutting/bin/Debug/netstandard2.0/

Backend/COVID19.CE/src/COVID.Infra.Data/bin/Debug/netstandard2.0/

Backend/COVID19.CE/src/COVID.Service.AlternativeApi/bin/Debug/netcoreapp3.0/

Backend/COVID19.CE/src/COVID.Service.Api/bin/Debug/netcoreapp3.1/

Backend/COVID19.CE/.vs/COVID19.CE/DesignTimeBuild/
