<div class="panel">
  <div class="dashboard flex-me">
    <mat-card>
      <mat-card-title>Casos</mat-card-title>
      <mat-card-content class="panel-data confirmed">
        84
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Mortes</mat-card-title>
      <mat-card-content class="panel-data deaths">
        0
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Recuperações</mat-card-title>
      <mat-card-content class="panel-data recovered">
        0
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contact">
    <mat-card>
      <mat-card-title>Locais de atendimento</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div>
          <span><strong>Cidade: </strong>Pacatuba/CE</span>
          <span><strong>Bairro: </strong>Jereissate 2</span>
        </div>
        <div>
          <span><strong>Endereço: </strong>R. Barão do Rio Branco, 1816 - Centro, Fortaleza - CE, 60025-061</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
