.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.dashboard > mat-card {
  padding: 12px;
  width: 88px;
  margin: 10px;
  text-align: center;
}

.panel-data {
  font-weight: 500;
  padding: 10px 0px;
}

.number {
  font-size: 30px;
}

.deaths {
  color: darkorange;
}

.recovered {
  color: green;
}

.confirmed {
  color: red;
}
