
<div class="dashboard">
  <mat-card>
    <mat-card-title>Casos</mat-card-title>
    <mat-card-content class="panel-data confirmed">
      {{boletim.infectados}}
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Mortes</mat-card-title>
    <mat-card-content class="panel-data deaths">
      {{boletim.obitos}}
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Recuperações</mat-card-title>
    <mat-card-content class="panel-data recovered">
      {{boletim.recuperados}}
    </mat-card-content>
  </mat-card>
</div>
