.dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.dashboard > mat-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin: 1px
}

.panel-data {
  font-size: 30px;
  font-weight: 500;
  padding: 10px 0px;
}

.deaths {
  color: darkorange;
}

.recovered {
  color: green;
}

.confirmed {
  color: red;
}
