.navbar-brand {
  width: 100%;
  height: 77px;
  background-color: black;
  margin-top: -7px;
  margin-bottom: 5px;
}

h3{
  color: white;
  text-align: center;
  padding: 20px;
  font-size: x-large;
}
