/* .navbar-brand {
  width: 100%;
  background-color: black;
  margin-top: -7px;
  margin-bottom: 5px;
}

h3 {
  color: white;
  text-align: center;
  padding: 20px;
} */

@media only screen and (max-width: 800px) {
  /* For tablets: */
  /* .navbar-brand {
    height: 77px;
  }
  h3 {
    font-size: x-large;
  } */
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  /* .navbar-brand {
    height: 50px;
  }
  h3 {
    font-size: medium;
  } */
}

.app-bar {
  background-color: #211D25 !important;
  color: #FFFFFF !important;
  justify-content: center;
}
