mat-card {
  padding: 0px;
  margin-left: .5em;
}

.map {
  width: 100%;
  height: 550px;
}

.widget {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: absolute;
  z-index: 9999;
  top: 7%;
  left: 10%;
}
