<div class="chart">
  <mat-card>
    <div class="chart-wrapper">
      <canvas baseChart [datasets]="charLineCrescimento.DataSets" [labels]="charLineCrescimento.Labels" [colors]="charLineCrescimento.Color" [options]="charLineCrescimento.Options"
        [legend]="true" [chartType]="'line'" [plugins]="[]">
      </canvas>
    </div>
  </mat-card>
  <mat-card>
    <div class="chart-wrapper">
      <canvas baseChart [datasets]="chartLineTotal.DataSets" [labels]="chartLineTotal.Labels" [options]="chartLineTotal.Options"
        [legend]="true" [chartType]="'line'" [plugins]="[]">
      </canvas>
    </div>
  </mat-card>
  <!-- <mat-card>
    <div class="chart-wrapper">
      <canvas baseChart
      [datasets]="chartBarCidades.DataSets"
      [labels]="chartBarCidades.Labels"
      [options]="chartBarCidades.Options"
      [legend]="true"
      [chartType]="'horizontalBar'">
    </canvas>
  </div>
  </mat-card> -->
</div>
