.chart {
  display: flex;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5em;
}

.chart mat-card {
  flex: 1;
  max-width: 600px;
  margin-bottom: 1em;
}

@media only screen and (max-width: 655px) {
  .chart mat-card {
    max-width: 100%;
  }
}
