.contact {
  width: 100%;
}

.contact ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  list-style: none;
  padding-inline-start: 1em;
  margin-inline-end: 1em;
}

.contact ul li {
  display: flex;
}

.contact ul li strong {
  display: block;
  margin-bottom: 5px;
}

.contact ul li p + strong {
  margin-top: 32px;
}

.contact ul li p {
  color: #737380;
}

.contact ul li mat-card div {
  display: flex;
}

.contact ul li mat-card div div {
  flex: 2;
  flex-direction: column;
  margin-right: 1em;
}

.contact ul li mat-card div+div {
  flex: 1;
  flex-direction: column;
}
