<div class="container" style="margin: 4% 4% 12% !important;">

  <div >
    <div style="text-align: center;">
      <a href="https://www.saude.gov.br/campanhas/46452-coronavirus" target="_blank">
        <img src="https://portalarquivos2.saude.gov.br/images/jpg/2020/marco/03/campanha-prevencao-coronav--rus.jpg" alt="coronavirus saiba mais sobre a doenca virus">
      </a>
    </div>
    <div style="text-align: center;">&nbsp;</div>
    <div style="text-align: center;">&nbsp;</div>
  </div>

  <h2 mat-display-1>
    <b>O que é coronavírus?</b>
  </h2>
  
  <p>Coronavírus é uma família de vírus que causam infecções respiratórias. O novo agente do coronavírus foi descoberto em 31/12/19 após casos registrados na China. Provoca a doença chamada de coronavírus (COVID-19).</p>
  <p>Os primeiros coronavírus humanos foram isolados pela primeira vez em 1937. No entanto, foi em 1965 que o vírus foi descrito como coronavírus, em decorrência do perfil na microscopia, parecendo uma coroa.</p>
  <p>A maioria das pessoas se infecta com os coronavírus comuns ao longo da vida, sendo as crianças pequenas mais propensas a se infectarem com o tipo mais comum do vírus. Os coronavírus mais comuns que infectam humanos são o alpha coronavírus 229E e NL63 e beta coronavírus OC43, HKU1...</p>
  
  
  <h2 mat-display-1>
    <b>O que você precisa saber e fazer.<br />Como prevenir o contágio:</b>
  </h2>

  <div>
    <ul>
      <li><img src="https://portalarquivos2.saude.gov.br/images/png/2020/marco/02/img1-maos.png" />
      <h3>Lave as mãos com água e sabão ou use álcool em gel.</h3>
      </li>
      <li><img src="https://portalarquivos2.saude.gov.br/images/png/2020/marco/02/img2-tosse.png" />
      <h3>Cubra o nariz e boca ao espirrar ou tossir.</h3>
      </li>
      <li><img src="https://portalarquivos2.saude.gov.br/images/png/2020/marco/02/img3-pessoas.png" />
      <h3>Evite aglomerações se estiver doente.</h3>
      </li>
      <li><img src="https://portalarquivos2.saude.gov.br/images/png/2020/marco/02/img4-janela.png" />
      <h3>Mantenha os ambientes bem ventilados.</h3>
      </li>
      <li><img src="https://portalarquivos2.saude.gov.br/images/png/2020/marco/02/img5-objetos.png" />
      <h3>Não compartilhe objetos pessoais.</h3>
      </li>
    </ul>
  </div>
    
  <div>
    <ul class="nav nav-pills">
      <li><a href="https://coronavirus.saude.gov.br/sobre-a-doenca#transmissao" target="_blank">Como é a transmissão<br /></a></li>
      <li><a href="https://coronavirus.saude.gov.br/sobre-a-doenca#definicaodecaso" target="_blank">Definição de caso</a></li>
      <li><a href="https://coronavirus.saude.gov.br/sobre-a-doenca#tratamento" target="_blank">Tratamento</a></li>
      <li><a href="https://www.saude.gov.br/boletins-epidemiologicos" target="_blank" rel="noopener noreferrer">Boletim epidemiológico</a></li>
      <li><a href="https://portalarquivos2.saude.gov.br/images/pdf/2020/marco/25/Livreto-Plano-de-Contingencia-5-Corona2020-210x297-16mar.pdf" target="_blank">Plano de Contingência Nacional</a></li>
    </ul>
  </div>

  <p class="mat-h3">
    <b>Fonte: </b> <br />
    <a href="https://coronavirus.saude.gov.br/"> Ministério da Saúde</a>
  </p>
</div>
