p {
  text-align: center;
  margin: 0 0 2px;
}

footer {
  flex-shrink: 0;
  padding: 2px 10px;
  background: #211d25;
  color: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content div p{
  margin-left: 5px;
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  p {
    font-size: small;
  }

  footer {
    padding: 7px;
  }
}
@media only screen and (max-width: 500px) {
  p {
    font-size: x-small;
  }
}
