p {
  text-align: center;
  margin: 0 0 2px;
}

a {
  color: #ffffff;
}

footer {
  flex-shrink: 0;
  padding: 10px;
  background: #211d25;
  color: #ffffff;
}
@media only screen and (max-width: 800px) {
  /* For tablets: */
  p {
    font-size: small;
  }

  footer {
    padding: 7px;
  }
}
@media only screen and (max-width: 500px) {
  p {
    font-size: x-small;
  }
}
