<!-- <div class="container">
  <h2>Em constução..  <i class="material-icons">build</i></h2>

  <h4>Nesta página você poderá responder um questionário com perguntas para identificar se você esta com os sintomas da Covid19</h4>
</div> -->

<div class="container" style="margin: 4% 4% 12% !important;">

  <h1 mat-display-1>
    <b>Questionário</b>
  </h1>

  <p mat-h2>
    Se você sente alguns dos sintomas da doença COVID-19 (causada pelo coronavírus), responda abaixo um rápido questionário e saiba quais medidas tomar.
  </p>

  <p mat-h2>
    Lembramos que todas as perguntas e respostas aqui trazidas são provenientes de uma <i>API REST</i> que não foi desenvolvida por nós. Para mais detalhes acesse <a href="https://developer.infermedica.com/docs/covid-19" target="_blank">aqui!</a> 
  </p>

</div>
