/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ol-unselectable,
.ol-layer {
  z-index: 999 !important;
}

body {
  background: #383535;
}

.mat-grid-tile .mat-figure {
  /* justify-content: flex-start !important ; */
  align-items: flex-start !important;
}

/*---------------------------*/

@media only screen and (max-width: 800px) {
  /* For tablets: */
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  /* Cards */
  .mat-card {
    max-width: 47px;
    max-height: 47px;
  }
  .mat-card-title {
    font-size: small;
    font-weight: 500;
  }
  .mat-card-content {
    font-size: small !important;
    padding: 0px 0px !important;
  }
  /* Cards */
}
