<div class="container">
  <p>Um grupo de amigos motivados pela atual problemática envolvendo o novo Corona Vírus, Covid-19, busca contribuir
    com
    o estado
    do Ceará.
    Então surge o projeto "Mapa Covid19 CE" <br />
    Um projeto free e open source.</p>
  <p>
    O objetivo da aplicação é auxiliar e acompanhar o avanço do Covid-19 no estado do Ceará.<br />
    Apresentar os locais disponibilizados para atendimentos, exames, bem como informar capacidade de atendimento.<br />
    Apresentar Graficos relacionados ao Covid-19 no estado do ceara.</p>
  <p style="align-self: center;
  text-align: justify;">
    Colaboradores/Voluntários: <br />
    - Anderson Benevides <br />
    - Victor Sampaio <br />
    - Midana Sana <br />
    - Leandro Jackson<br />
    - Flabio Assunção <br />
    - David Pereira <br />
    - Francisco Jocelio Junior <br />
    - Luiz Lucas <br />
    - Francisco de Assis Junior <br />
    - Tiago Alencar <br />
    <p><b>Fale conosco: </b> cecovid19@gmail.com<br />
      <a href="https://github.com/AndersonBP/Covid19-Ce">Conheça projeto</a>
</div>
