<div class="map">
  <home-map [boletim]="ultimoBoletim" [dashOpen]="toggled" [ultimaAtualizacao]="ultimaAtualizacao"></home-map>
  <div class="wrapper">
    <div class="toggle-section">
      <button mat-flat-button (click)="collapseCharts()">
        <mat-icon aria-hidden="false" aria-label="chart icon">donut_large</mat-icon> Graficos
      </button>
    </div>
    <home-chart [className]="toggled ? 'charts collapsed' : 'charts'" [CidadeChatColumnData]="totalCidades"
      [TotalDiasUf]="totalDiasUF">
    </home-chart>
  </div>
</div>

<!-- <mat-grid-list rowHeight="220px" cols="4">
  <mat-grid-tile rowspan="2" class="panel ">
    <home-panel [boletim]="ultimoBoletim"></home-panel>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" class="" colspan="3">
    <home-map [bairrosAfetados]="bairroAfetados"></home-map>
  </mat-grid-tile>
  <mat-grid-tile colspan="4">
    <home-chart></home-chart>
  </mat-grid-tile>
</mat-grid-list> -->

<!-- <div class="panel">
  <home-dashboard [boletim]="ultimoBoletim"></home-dashboard>
  <home-panel [boletim]="ultimoBoletim"></home-panel>
  <home-diagnotic></home-diagnotic>
</div> -->
<!-- <mat-card>
</mat-card> -->

<!-- <mat-card>
  <div>
    <div class="panel">
      <home-dashboard [boletim]="ultimoBoletim"></home-dashboard>
      <home-panel [boletim]="ultimoBoletim"></home-panel>
      <home-diagnotic></home-diagnotic>
    </div>
    <div class="map">
      <home-map [bairrosAfetados]="bairroAfetados" [casosCidades]="totalCidades"></home-map>
      <home-chart [CidadeChatColumnData]="totalCidades"></home-chart>
    </div>
  </div>
</mat-card> -->
