mat-card {
  padding: 0.5em;
  border-radius: 0px;
  background-color: #f8f7fa;
}

mat-card > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

home-chart {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  height: 100%;
  position: relative;
}

.charts.collapsed {
  display: none;
}

.wrapper {
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 100%;
}

.toggle-section {
  background-color: #ffffff;
  height: 28px;
  position: relative;
}

.toggle-section button {
  position: absolute;
  top: -16px;
  left: 40px;
}

@media screen and (max-width: 768px) {
  home-chart {
    flex-direction: column;
    max-height: 275px;
    overflow-x: hidden;
  }
}
