<!-- <mat-grid-list rowHeight="220px" cols="4">
  <mat-grid-tile rowspan="2" class="panel ">
    <home-panel [boletim]="ultimoBoletim"></home-panel>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" class="" colspan="3">
    <home-map [bairrosAfetados]="bairroAfetados"></home-map>
  </mat-grid-tile>
  <mat-grid-tile colspan="4">
    <home-chart></home-chart>
  </mat-grid-tile>
</mat-grid-list> -->

<div class="map">
  <home-map [bairrosAfetados]="bairroAfetados" [boletim]="ultimoBoletim"></home-map>
  <!-- <home-chart></home-chart> -->
</div>
<div class="panel">
  <!-- <home-dashboard [boletim]="ultimoBoletim"></home-dashboard> -->
  <!-- <home-panel [boletim]="ultimoBoletim"></home-panel> -->
  <!-- <home-diagnotic></home-diagnotic> -->
</div>
<!-- <mat-card>
</mat-card> -->
