<mat-tab-group>
  <mat-tab label="Mapa">
    <home-map [bairrosAfetados]="bairroAfetados" [boletim]="ultimoBoletim" [casosCidades]="totalCidades"></home-map>
  </mat-tab>
  <mat-tab label="Estatísticas">
    <home-chart class="charts"></home-chart>
  </mat-tab>
  <mat-tab label="Locais de diagnóstico">
    <home-diagnotic></home-diagnotic>
  </mat-tab>
  <mat-tab label="Informativo">
    <home-informative></home-informative>
  </mat-tab>
  <mat-tab label="Questionário">
    <home-quiz></home-quiz>
  </mat-tab>
  <mat-tab label="Sobre">
    <home-about></home-about>
  </mat-tab>
</mat-tab-group>
